@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

body {
  font-family: 'Parisienne', cursive;
}

#img-container {
  width: 600px;
}

#img-container img {
  width: 100%;
}

#card-text {
  position: absolute;
  top: 200px;
  left: 100px;
  white-space: pre-wrap;
}

.color-choice {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 5px;
}

#color-selector {
  display: flex;
}

.background-choice {
  width: 200px;
}

.background-choice img {
  width: 100%;
}

#background-container {
  display: flex;
}